a { 
    text-decoration: none; 
   } 

/* header */

header {
	
	
}

nav ul {
	list-style: none;
	margin: 0;
    padding: 4px;
    display: inline;
}


.thumbnail {
right:0;
	width: 100px;
	height: 100px;
	opacity: 0.4;
	-o-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-webkit-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.thumbnail:hover {
	opacity: 1;
}


#image  img {
	
	margin-top: 0px;
	height: 100%;
	border: 1px solid  #96C;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
li{ 
   
    display: inline;
    margin-right: 5px;
    }

#f
{
	text-align:right;

}
#g
{
	text-align:left;

}

#top-panel{
	background:#ffffff;
	border-bottom:3px solid #fffffff;
	padding: 2px;
	text-align:right;
}
#sub-panel{
	text-align:center;
}
#sub-panel a{
	width:110px;
	float:right;
	color:#FFFFFF;
	text-decoration:none;
	font-weight:bold;
	background:url(../images/sub-left.png) bottom left no-repeat #996699;}
#registration
{
	font-family:Arial, sans-serif; font-size:12px;
	text-align:center;
}
.circle {
  float:left;
  display: block;
  width: 110px;
  height: 110px;
  margin: 2em auto;
  margin-right: 1em;
  margin-left: 1.5em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}
#content
{
	margin: 0 auto;
	font-size:12px;
	font-family:Verdana, Geneva, sans-serif;
	font-variant:normal;
		
}

#content ul
{
	
	font-size:10px;
	
	font-family:Arial, sans-serif; font-size:12px;
	
	font-variant:normal;
	color:#936;
		
}

TABLE {
 border-collapse: collapse;
 
}
#ds
{
	position:fixed;
	right: 10px; /* Расстояние от правого края окна браузера */
    top: 91%;
	border:0;
}

#kur
{
	position: relative;
	margin-bottom:40%;
	right:300px;	
	left:50px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:20px;
	
}
#section
{
   font-family: Verdana, Geneva, sans-serif; 
   font-size:10px;
   color: firebrick;
   
}
#name
{
    position: relative;
   font-family: Verdana, Geneva, sans-serif; 
   font-size:10px;
   left:200px;
}
#content
{
    position: relative;
   font-family: Verdana, Geneva, sans-serif; 
   font-size:16px;
   
}

*{
	margin:0;
	padding:0;
}

body2{
	color:#eee;
	background:url('../images/bg.jpg') repeat-x #0c0d10;
	font:13px "Lucida Sans Unicode",Arial,Helvetica,sans-serif;
}

#slideshow{
	
	border:1px solid #FFFFFF;
	height:340px;
	position:relative;
	width:640px;
	-moz-box-shadow:0 0 22px #111;
	-webkit-box-shadow:0 0 22px #111;
	box-shadow:0 0 22px #111;
                
}

#slideshow ul{
	height:320px;
	left:10px;
	list-style:none outside none;
	overflow:hidden;
	position:absolute;
	top:10px;
	width:620px;
}

#slideshow li{
	position:relative;
	display:none;
	z-index:10;
}

#slideshow li:first-child{
	display:block;
	z-index:1000;
}

#slideshow .slideActive{
	z-index:1000;
}

#slideshow canvas{
	display:none;
	position:absolute;
	z-index:100;
}

#slideshow .arrow{
	height:86px;
	width:60px;
	position:absolute;
	background:url('../images/arrows.png') no-repeat;
	top:50%;
	margin-top:-43px;
	cursor:pointer;
	z-index:5000;
}

#slideshow .previous{ background-position:left top;left:0;}
#slideshow .previous:hover{ background-position:left bottom;}

#slideshow .next{ background-position:right top;right:0;}
#slideshow .next:hover{ background-position:right bottom;}


/* The following styles are only used for the styling of the demo page */

p.tzine{
	text-align:center;
	font-size:12px;
	margin:50px;
}

p.credit{
	text-align:center;
	color:#888;
	font-size:10px;
}

p.credit a,
p.credit a:visited{
	color:#ccc;
	border-bottom-color:#aaa;
}

p.credit a:hover{
	border-bottom-color:transparent;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	border-bottom:1px dotted #97cae6;

}

a:hover{
	border-bottom:1px dashed transparent;
}

.clear{
	clear:both;
}

